
<div class="main">
    <!-- herro -->
    <div id="home" class="container-fluid hero-header">
        <div class="container py-5">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
              <h1 class="text-white mb-4 animated zoomIn">Optimisez Vos Projets ! Gestion Efficace et Suivi Simplifié.</h1>
              <p class="text-white pb-3 animated zoomIn">Notre application web facilite la gestion de projets et le suivi des tâches grâce à une interface simple et intuitive.</p>
            </div>
            <div class="col-lg-6 text-center position-relative image-container">
              <img class="floating-image" src="assets/images/stare2.png" alt="hero1">
              <img class="floating-image" src="assets/images/star1.png" alt="hero2">
              
            </div>
          </div>
        </div>
      </div>
    <!-- about -->
    <div  id="about" class="container-fluid py-6 ">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                    <img class="img-fluid shake-image" src="../../../../assets/images/about.png" alt="about">
                </div>
                
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-inline-block border rounded-pill text-white px-4 mb-3">À propos de</div>
                    <h2 class="mb-4 text-white">Votre Partenaire Idéal pour une Gestion de Projets Simplifiée</h2>
                    <p class="mb-4 text-white">Chez TaskMaster, nous simplifions la gestion de projets avec une interface intuitive qui facilite la planification, le suivi et la collaboration. Notre solution vous aide à organiser les tâches, respecter les délais et maximiser la productivité</p>
                    <div class="row g-3 mb-4">
                        <div class="col-12 d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-white">
                            </div>
                            <div class="ms-4 text-white">
                                <h6 class="text-white">Gestion Centralisée</h6>
                                <p class="mb-0 text-white">Toutes vos tâches et projets sont regroupés en un seul endroit, ce qui permet une gestion cohérente et un accès facile aux informations essentielles</p>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-white">
                                
                            </div>
                            <div class="ms-4 text-white">
                                <h6 class="text-white">Collaboration Améliorée</h6>
                                <p class="mb-0 text-white">L'application facilite la collaboration en ligne en permettant à tous les membres de l'équipe de partager des mises à jour</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services -->
    <div id="services" class="container-xxl py-6">
        <div class="container">
          <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <div class="d-inline-block border rounded-pill text-white px-4 mb-3">Nos Services</div>
            <h2 class="mb-5 text-white">Nous Offrons des Solutions Complètes pour une Gestion de Projet Efficace</h2>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item rounded h-100">
                <div class="d-flex justify-content-between">
                  <div class="service-icon">
                    <i class="fa fa-user-tie fa-2x"></i>
                  </div>
                  <a class="service-btn">
                    <i class="fa fa-link fa-2x"></i>
                  </a>
                </div>
                <div class="p-5 zoom-container">
                  <div class="zoom-content">
                    <h5 class="mb-3 text-white">Gestion des Équipes</h5>
                    <span class="text-white">Facilitez la coordination des équipes en attribuant des rôles et des responsabilités spécifiques. Vous pouvez suivre les contributions de chaque membre.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item rounded h-100">
                <div class="d-flex justify-content-between">
                  <div class="service-icon">
                    <i class="fa fa-chart-pie fa-2x"></i>
                  </div>
                  <a class="service-btn">
                    <i class="fa fa-link fa-2x"></i>
                  </a>
                </div>
                <div class="p-5 zoom-container">
                  <div class="zoom-content">
                    <h5 class="mb-3 text-white">Gestion des Rapports</h5>
                    <span class="text-white">Suivez et gérez les ressources nécessaires pour chaque projet, y compris le temps, les livrables....</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
              <div class="service-item rounded h-100">
                <div class="d-flex justify-content-between">
                  <div class="service-icon">
                    <i class="fa fa-chart-line fa-2x"></i>
                  </div>
                  <a class="service-btn">
                    <i class="fa fa-link fa-2x"></i>
                  </a>
                </div>
                <div class="p-5 zoom-container">
                  <div class="zoom-content">
                    <h5 class="mb-3 text-white">Gestion des Tâches</h5>
                    <span class="text-white">Organisez et attribuez des tâches de manière claire et structurée. Vous pouvez créer des listes de tâches, suivre l'avancement en temps réel</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
    <!-- contact -->
    <div  id="contact" class="container-fluid py-6">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <div class="d-inline-block border rounded-pill text-white px-4 mb-3">Nous contacter</div>
                <h2 class="mb-5 text-white">Si vous avez une question, n'hésitez pas à nous contacter</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                    <p class="text-center mb-4 text-muted">Nous sommes là pour vous aider et répondrons à toutes vos questions dans les plus brefs délais. Merci de votre confiance .</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Votre nom">
                                    <label for="name" class="text-muted">Votre nom</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Votre Email">
                                    <label for="email" class="text-muted">Votre Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Objet">
                                    <label for="subject" class="text-muted">Objet</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                    <label for="message" class="text-muted">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success w-100 py-3" type="submit">Envoyer le message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

