<!-- comments-section.component.html -->
<div class="comments-section">
    <div class="task-details">
        <h5 class="task-title">{{ tache.titre }}</h5>
        <p class="task-info">
          <strong>Description :</strong> {{ tache.description }}
        </p>
        <p class="task-info">
            <strong>Statut :</strong>
            <span class="status-icon material-icons">
              {{ tache.statut === 'En_Cours' ? 'hourglass_empty' : (tache.statut === 'Termine' ? 'check_circle' : 'work') }}
            </span>
            <span [ngClass]="{'status-pending': tache.statut === 'En_Cours', 'status-completed': tache.statut === 'Termine', 'status-ongoing': tache.statut === 'A_Faire'}">
              {{ tache.statut }}
            </span>
          </p>
        <p class="task-info">
          <strong>Date de début :</strong> {{ tache.dateDebut | date:'longDate' }}
        </p>
        <p class="task-info">
          <strong>Nombre de jours :</strong> {{ tache.nbrJours }}
        </p>
      </div>
      <h5>Commentaires</h5>
      

  <app-comment *ngFor="let comment of comments" [comment]="comment" [idComment]="comment.id"></app-comment>
</div>
