<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0 custom-header">
        <a  routerLink="employe" class="navbar-brand p-0">
            <h1 class="m-0">TaskMaster</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLink="employe" class="nav-item nav-link active">Accueil</a>
                <a routerLink="/projets" class="nav-item nav-link">Projets</a>
                <a routerLink="/rapports" class="nav-item nav-link">Rapports</a>
                <a href="contact.html" class="nav-item nav-link">Contact chef équipe</a>
            </div>
            <a href="" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">Profil</a>
        </div>
    </nav>

    <div class="container-xxl hero-header">
        <div class="container">
      
        </div>
    </div>
</div>
