<header #header class="modern-header" [ngClass]="{'scrolled-bottom': isScrolledToBottom, 'scrolled': isHeaderScrolled}">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">
        <h1>TaskMaster</h1>
      </a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a (click)="scrollToSection('home')" class="nav-link">Accueil</a>
          </li>
          <li class="nav-item">
            <a (click)="scrollToSection('about')" class="nav-link">À propos de</a>
          </li>
          <li class="nav-item">
            <a (click)="scrollToSection('services')" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a (click)="scrollToSection('contact')" class="nav-link">Contact nous</a>
          </li>
        </ul>
        <a [routerLink]="['/guest/login']" class="btn btn-primary">Se connecter</a>
      </div>
    </div>
  </nav>
</header>