<div class="card">
  <h6 class="card-title">
    <i class="fas fa-users users-icon"></i>
    équipe: {{ cardEquipe.nom }}
  </h6>
  <p class="card-description">
    <strong>Objectifs : </strong>
    <span>{{ cardEquipe.description }}</span>
  </p>

  <p class="card-description">
    <strong>Date de création : </strong>
    <span>{{ cardEquipe.dateCreation | date }}</span>
  </p>

  <p class="card-description">
    <strong>Nombre d'employés : </strong>
    <span>{{ cardEquipe.nbrEmploye }}</span>
  </p>

  <p class="card-description">
    <strong>Département : </strong>
    <span>{{ cardEquipe.nomDepartement }}</span>
  </p>

  <div class="card-actions">
    <button class="btn btn-primary" (click)="goToEmployes()">Employes</button>
    <button class="btn btn-secondary" (click)="goToProjets()">Projets</button>
  </div>
</div>
