<!-- monthly-bar-chart.component.html -->
<div class="card shadow-sm">
  <div class="card-header bg-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0 font-weight-bold ">Statistiques d'équipe</h5>

  </div>
  <div class="card-body">
    <div id="chart" class="chart-container">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!"
        [yaxis]="chartOptions.yaxis!"
        [colors]="chartOptions.colors!"
        [theme]="chartOptions.theme!"
        [plotOptions]="chartOptions.plotOptions!"
      ></apx-chart>
    </div>
    <div class="mt-4 statistics-summary">
      <div class="statistic-item">
        <p class="statistic-label">Taille moyenne de l'équipe</p>
        <p class="statistic-value">{{ teamStatistics?.averageTeamSize | number:'1.2-2' }}</p>
      </div>
      <div class="statistic-item">
        <p class="statistic-label">Nombre total de projets</p>
        <p class="statistic-value">{{ teamStatistics?.totalProjects }}</p>
      </div>
    </div>
  </div>
</div>