<div class="filter-container">
  <input 
    type="text" 
    [(ngModel)]="filterText" 
    (ngModelChange)="filterEmployes()"
    placeholder="Filtrer par nom ou prénom"
    class="filter-input"
  >
</div>

<ul class="employe-list">
  <li *ngFor="let employe of filteredEmployes; let i = index" class="employe-item">
    <div class="employe-folder" (click)="toggleEmploye(employe)">
      <div class="employe-info">
        <span class="membre">
          <div class="circle-icon">
            <img
              [src]="
                employe.sexe === 'Homme'
                  ? '../../../../../assets/images/profile/homme.png'
                  : '../../../../../assets/images/profile/femme.png'
              "
              [alt]="employe.sexe === 'Homme' ? 'Default Male Avatar' : 'Default Female Avatar'"
            />
          </div>
        </span>
        <span class="employe-nom">{{ employe?.nom || 'N/A' }} {{ employe?.prenom || 'N/A' }}  </span>
      </div>
      <div class="employe-meta">
        <span class="employe-date" *ngIf="employe.rapport; else notOpen">
          Deposé le : {{ employe.rapport?.date_creation | date: 'dd/MM/yyyy' }}
        </span>
      </div>
      <ng-template #notOpen>
        <p style="font-size: small;">Aucun rapport pour l'instant.</p>
      </ng-template>
    </div>
    <ul class="document-list" *ngIf="employe.isOpen && employe.rapport">
      <li class="document-item">
        <span class="document-row">
          <i class="fas fa-file-pdf"></i>
          <span class="document-name">{{ employe.rapport?.nom || 'N/A' }}</span>
          <div class="document-actions">
              <button (click)="viewFile(employe.rapport)" class="btn-open-pdf">Ouvrir</button>
          </div>
      </span>
      </li>
    </ul>
  </li>
</ul>