<div class="container">
    <div class="image-card">
      <img src="assets/images/group.png" alt="Team Image">
    </div>
    <div class="info-card">
      <h2>Equipe : <span class="team-name">{{ equipe.nom }}</span></h2>
      <div class="info-container">
        <div class="info-equipe-section">
          <div class="info-item">
            <strong>Objectifs:</strong>
            <p>{{ equipe.description }}</p>
          </div>
          <div class="info-item">
            <strong>Nombre d'employés:</strong>
            <p>{{ equipe.nbrEmploye }}</p>
          </div>
          <div class="info-item">
            <strong>Date de création:</strong>
            <p>{{ equipe.dateCreation | date:'longDate' }}</p>
          </div>
        </div>
        <div class="info-chef-section">
          <div class="info-item">
            <strong>Chef de L'équipe :</strong>
            <p>{{ equipe.chef.nom }} {{ equipe.chef.prenom }}</p>
          </div>
          <div class="info-item">
            <strong>Email:</strong>
            <p>{{ equipe.chef.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>