<div class="projet-table-container">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtre" />
    </mat-form-field>
  </div>


  <ng-container *ngIf="dataSource.data.length > 0; else noSection">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mat-table--compact">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Nom</strong></th>
        <td mat-cell *matCellDef="let section" [attr.data-label]="'name'">{{ section.name }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-header"><strong>Actions</strong></th>
        <td mat-cell *matCellDef="let section"[attr.data-label]="'Actions'">
          <div class="action-buttons">
            <button class="supprimer" (click)="deleteSection(section.id)">supprimer</button>
            <button class="modifier" (click)="update(section)" mat-button>modifier</button>
         
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </ng-container>

  <ng-template #noSection></ng-template>

  <div class="modal" *ngIf="showConfirmModal">
    <div class="modal-content">
      <h2>Confirmer la suppression</h2>
      <p>Êtes-vous sûr de vouloir supprimer cette section?</p>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="cancelDelete()">Annuler</button>
        <button class="confirm-btn" (click)="confirmDelete()">Supprimer</button>
      </div>
    </div>
  </div>
  <app-dialog-update-section 
  *ngIf="showDialogUpdate" 
  [sectionToUpdate]="sectionToUpdate"
  (close)="onDialogClose()"
  (sectionUpdated)="onSectionUpdated($event)"
></app-dialog-update-section>
</div>