<!-- teams.component.html -->

<div class="projects-container">
      <h5 class="current">Equipes</h5>
 
 
  
    <ng-container *ngIf="(loading$ | async) === false; else loadingTemplate">
      <ng-container *ngIf="(error$ | async) === false; else errorTemplate">
        <ng-container *ngIf="teams$ | async as teams">
          <div class="team-grid" *ngIf="teams.length > 0; else noTeams">
            <div class="button-and-text-container">
              <p>Ajouter des équipes spécialisées dans les domaines de les section.</p>
              <button class="add-project-button" (click)="addTeam()">Ajouter</button>
            </div>
            <app-team-table
              [teams]="teams"
              (addTeam)="addTeam()"
              (teamDeleted)="onTeamDeleted()"
            ></app-team-table>
          </div>
          
          <ng-template #noTeams>
            <div class="centered-message-container">
              <p>Ajouter des équipes spécialisées dans les domaines de les section.</p>
              <div class="centered-message">Aucune équipe pour l'instant !</div>
              <button class="add-project-button" (click)="addTeam()">Ajouter</button>
            </div>          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
  
    <ng-template #loadingTemplate>
      <div class="centered-message loading-message">
        <app-spinner-g></app-spinner-g>
      </div>
    </ng-template>
  
    <ng-template #errorTemplate>
      <app-error-message></app-error-message>
    </ng-template>
  
    <app-dialog-add-team
      *ngIf="showDialog"
      (close)="handleClose()"
      (teamAdded)="onTeamAdded($event)"
    ></app-dialog-add-team>
  </div>
  
  <app-feed-back
    *ngIf="showFeedback"
    (closed)="closeFeedback()"
    [message]="feedbackMessage"
    (animationDone)="showFeedback = false"
  ></app-feed-back>