<div class="board">
  <div class="liste-container" *ngFor="let statut of statuts">
    <div class="liste-header">
      <h2>
        <mat-icon [ngSwitch]="statut" [ngClass]="statut">
          <ng-container *ngSwitchCase="'A_Faire'">radio_button_unchecked</ng-container>
          <ng-container *ngSwitchCase="'En_Cours'">schedule</ng-container>
          <ng-container *ngSwitchCase="'Termine'">check_circle_outline</ng-container>
        </mat-icon>
        {{ statut | titlecase }}
      </h2>
      <span class="tache-count">{{ getTasksList(statut).length }}</span>
    </div>
    <div class="liste">
      <div class="tache" *ngFor="let task of getTasksList(statut)" cdkDrag>
        <app-cart-task [task]="task" (taskDeleted)="onTaskDeleted($event)"></app-cart-task>
        <span class="indicateur" [ngClass]="statut"></span>
      </div>
    </div>
    <div *ngIf="statut === 'A_Faire'" class="ajouter-carte" (click)="addTask(statut)">
      <mat-icon>add_circle_outline</mat-icon> Ajouter une carte
    </div>
  </div>
</div>

<app-dialog-add-task *ngIf="showDialog" (close)="handleClose()" [prjtId]="prjtId" (tacheAdd)="onAddTask($event)"></app-dialog-add-task>

<!-- Feedback message -->
<app-feed-back
  [message]="feedbackMessage" 
  [isSuccess]="isSuccess" 
  (closed)="closeFeedback()">
</app-feed-back>