<div class="projects-container">
  <div class="breadcrumb">
    <a routerLink="/">{{ this.nomEquipe }}</a>
    <span class="separator">/</span>
    <span class="current">projets</span>
  </div>
  
  
  
  <ng-container *ngIf="(loading$ | async) === false; else loadingTemplate">
    <ng-container *ngIf="(error$ | async) === false; else errorTemplate">
      <ng-container *ngIf="(projets$ | async) as projets">
        <app-user-circles [equipeId]="equipeId"></app-user-circles>

        <div class="team-grid" *ngIf="projets.length > 0; else noProjets">
          <app-projet-table [projets]="projets" [equipeId]="equipeId"></app-projet-table>
        </div>
        <ng-template #noProjets>
          <div class="centered-message">
            Aucun projet pour l'instant !
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
  
  <ng-template #loadingTemplate>
    <div class="centered-message loading-message">
      <app-spinner-g></app-spinner-g>
    </div>
  </ng-template>
  
  <ng-template #errorTemplate>
    <app-error-message></app-error-message>
  </ng-template>
</div>