<!-- projets.component.html -->

<div class="projects-container">
    <div class="header-container">
      <div class="breadcrumb">

        <span class="current">projets</span>
      </div>
    </div>
    <p>Suivi des projets des gestionnaires et leur avancement.</p>

  
  
    <ng-container *ngIf="(loading$ | async) === false; else loadingTemplate">
      <ng-container *ngIf="(error$ | async) === false; else errorTemplate">
        <ng-container *ngIf="projects$ | async as projects">
  
          <div class="team-grid" *ngIf="projects.length > 0; else noProjets">
            
            <app-project-table
              [projects]="projects"
              [teamId]="teamId"
              (projectDeleted)="onProjectDeleted()"
            ></app-project-table>
          </div>
          <ng-template #noProjets>
            <div class="centered-message-container">
              <div class="centered-message">Aucun projet pour l'instant !</div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
  
    <ng-template #loadingTemplate>
      <div class="centered-message loading-message">
        <app-spinner-g></app-spinner-g>
      </div>
    </ng-template>
  
    <ng-template #errorTemplate>
      <app-error-message></app-error-message>
    </ng-template>
  

  