<h4>Les employes{{ nomEquipe }}</h4>


<ng-container *ngIf="(loading$ | async) === false; else loadingTemplate">
    <ng-container *ngIf="(error$ | async) === false; else errorTemplate">
      <ng-container *ngIf="(employes$ | async) as employes">
        <div class="team-grid" *ngIf="employes.length > 0; else noEmployes">
           <app-employee-table [employes]="employes" [equipeId]="equipeId"></app-employee-table>
        </div>
        <ng-template #noEmployes>
          <div class="centered-message">
            Aucune projet pour l'instant !
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
  
  <ng-template #loadingTemplate>
    <div class="centered-message loading-message">
      <app-spinner-g></app-spinner-g>
    </div>
  </ng-template>
  
  <ng-template #errorTemplate>
    <app-error-message></app-error-message>
  </ng-template>