<div class="tache-header">
    <div class="titre">{{ tache.titre }}</div>
    <div class="tache-menu">
      <button class="eye-button" (click)="toggleAdditionalInfo()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button class="tache-menu-button" (click)="toggleMenu($event)">
        <mat-icon class="horizontal-icon">more_vert</mat-icon>
      </button>
      <div class="tache-menu-dropdown" [class.show]="isMenuOpen" #menu>
        <ul>
          <li (click)="editTask()">Edit</li>
          <li (click)="deleteTask()">Delete</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tache-content">
    <span class="membre"><div class="circle-icon"><img [src]="tache.employe.sexe === 'Homme' ? '../../../../../assets/images/profile/homme.png' : '../../../../../assets/images/profile/femme.png'" 
      [alt]="tache.employe.sexe === 'Homme' ? 'Default Male Avatar' : 'Default Female Avatar'"></div> {{tache.employe.nom}} {{ tache.employe.prenom }}</span>
   
    <div class="tache-footer">
      <span class="date"><mat-icon>event</mat-icon> {{tache.dateDebut| date:'dd/MM/yyyy'}}</span>
      <span class="duree"><mat-icon>schedule</mat-icon> {{tache.nbrJours}} jours</span>
    </div>
  
  </div>