<div class="card">
  <div class="icon">
    <i class="fas {{ icon }}"></i>
  </div>
  <div class="content">
    <h3>{{ title }}</h3>
    <p class="value">{{ value }}</p>
    <p class="percentage" [ngClass]="{
        'positive': (id === 1 && percentage > 1) || (id !== 1 && percentage <= 1),
        'negative': (id === 1 && percentage <= 1) || (id !== 1 && percentage > 1)
      }">
      {{ percentage > 1 ? '+' : '' }}{{ percentage }}%
    </p>
    <p class="comment" [ngClass]="{
        'green-text': (id === 1 && percentage > 1) || (id !== 1 && percentage <= 1),
        'red-text': (id === 1 && percentage <= 1) || (id !== 1 && percentage > 1)
      }">
      {{ comment }}
    </p>
  </div>
</div>
